*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background: #0086e6;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    margin: auto;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}


nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a:hover {
    background: #1b9bff;
    transition: 0.5s;
    cursor: pointer;
}

/* END OF THE NAV BAR */

h1{
    text-align: center;
    margin-top: 100px;
}

h3{
    margin-top: 50px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
}




/* ------------- RESUME ---------------- */

.resume-content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}


.resume-content {
    margin: 30px 0;
}

.data {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #0086E6;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.data .icon{
    margin: 0 10px 0 0;
    width: 50px;
    height: 50px;
    background-image: url(image/plus-toggle.png);
    border-radius: 50%;
    float: left;
    background-repeat: no-repeat;
    transition: all .5se ease-in;
}  

.active .icon {
    background-image: url(image/minus-toggle.png);
    transition: 0.3s;
}
.data h5 {
    font-size: 22px;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: normal;
    color: #4199d8;
}

.panel {
    padding: 0 15px;
    border-left: 1.5px solid #0086E6;
    margin-left: 25px;
    font-size: 17px;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: all .2s ease-in;
}

#summary p {
    padding: 10px;
}

/* ----- EXPERIENCE ------ */
.compName {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 3px;
}

.location {
    font-size:15px;
    font-weight: normal;
    margin-left: 10px;
    padding-bottom: 2px;
}

.date {
    float: right;
    font-size:15px;
    font-weight: 600;

    

}

.position {
    margin-left: 10px;
    font-style: italic;
    font-size: 17px;
    font-weight: 800;
    padding-bottom: 2px;
}

.duties {
    margin-left: 30px;
    margin-bottom: 20px;
}

.duties ul li {
    list-style: square;
    padding-bottom: 2px;
    margin-left: 40px;
}




/* ----- EDUCATION ------ */

.school {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 3px;
}

.degree {
    font-size: 17px;
    font-weight: 800;
    font-style: italic;
}

.degree span {
    font-weight: 500;
    font-style: italic;
}




/* ----- SKILLS ------ */

.skills {
    margin-left: 30px;
}

.skills ul li {
    list-style: square;
    padding-bottom: 2px;
}



/* ------------- CONTACT ---------------- */

.contact-content{
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

.contact-content .contact-data {
    padding-bottom: 20px;
    padding-right: 10px;
}

.contact-content img {
    width: 30px;
    height: auto;
    float: left;
    padding-right: 10px;
}

.contact-content a{
    color: inherit;
    font-size: 17px;
    text-decoration: underline;
}



/* -------------  PROJECTS  ---------------- */

.project-wrapper {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.project-wrapper h3{
    margin-bottom: 30px;
}

.project-wrapper a{
    margin-bottom: 5px;
    color:  #0086E6;
    font-weight: bold;
}

.project-wrapper a:hover{
    background-color: #0086E6;
    color: white;
    transition: 0.2s;
    font-size: larger;
}

.linkToProject ::after{
    content: "\A";
    white-space: pre;
}